

 .header-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    background-color: #ccc;
    align-items: center;
}

.header-section h4{
    margin-left: 20px;
}

.bag-count{
    width: 87px;
    border: 1px solid #000;
    height: 20px;
    margin-right: 20px;
}